@use 'variables';

.hero {
    padding-top: 94px;
    padding-bottom: 100px;
    background-image: url(../images/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;

    .container {
        position: relative;
    }


    &__text {
        margin: 100px 100px;
        line-height: 56px;
        font-size: 40px;
        font-weight: 800;
        text-align: center;
        letter-spacing: 4px;
    }

    
    @media(max-width: 640px) {
        padding: 40px 0;

        &__logo {
            height: 40px;
        }

        &__text {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    }

}